In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import time
import re
import nltk
import math
import os
import matplotlib.pyplot as plt
import sklearn.metrics
import json 
from datetime import datetime

from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn import linear_model
from sklearn.linear_model import Perceptron

from sklearn import svm
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn import linear_model
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import PassiveAggressiveClassifier

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import roc_auc_score

import sklearn.metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

import pickle

%matplotlib inline

In [2]:
# load csv file into Pandas dataframe table format
df_users = pd.read_csv('takehome_users.csv')

df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [3]:
# load csv file into Pandas dataframe table format
df_engagement = pd.read_csv('takehome_user_engagement.csv')

df_engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [4]:
df_users.dtypes

object_id                       int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
dtype: object

In [5]:
df_users.describe

<bound method DataFrame.describe of        object_id        creation_time                 name  \
0              1  2014-04-22 03:53:30       Clausen August
1              2  2013-11-15 03:45:04        Poole Matthew
2              3  2013-03-19 23:14:52    Bottrill Mitchell
3              4  2013-05-21 08:09:28      Clausen Nicklas
4              5  2013-01-17 10:14:20            Raw Grace
5              6  2013-12-17 03:37:06        Cunha Eduardo
6              7  2012-12-16 13:24:32         Sewell Tyler
7              8  2013-07-31 05:34:02    Hamilton Danielle
8              9  2013-11-05 04:04:24           Amsel Paul
9             10  2013-01-16 22:08:03         Santos Carla
10            11  2013-12-26 03:55:54       Paulsen Malthe
11            12  2014-04-17 23:48:38      Mathiesen L�rke
12            13  2014-03-30 16:19:38        Fry Alexander
13            14  2012-10-11 16:14:33          Rivera Bret
14            15  2013-07-16 21:33:54          Theiss Ralf
15            16  2013-02-11 10:09:50           Engel Ren�
16            17  2014-04-09 14:39:38     Reynolds Anthony
17            18  2013-08-24 00:26:46     Gregersen Celina
18            19  2013-05-24 14:56:36       Collins Arlene
19            20  2014-03-06 11:46:38        Helms Mikayla
20            21  2013-01-22 12:27:42         Hunter Alfie
21            22  2014-02-10 06:00:46         Myers Jordan
22            23  2012-08-17 08:30:27          Souza Alice
23            24  2013-09-09 22:20:03       Woodruff James
24            25  2014-02-25 00:11:13          Stone Elise
25            26  2013-07-28 00:53:32       Wexler Florian
26            27  2014-01-14 17:35:11          Santos Lu�s
27            28  2013-02-11 20:00:25    Weissmuller Marko
28            29  2013-09-16 02:08:41     Fernandes Evelyn
29            30  2013-06-04 00:44:25           Egger Leah
...          ...                  ...                  ...
11970      11971  2013-05-04 06:54:23    Ferreira Beatrice
11971      11972  2012-09-13 23:23:11      Penington Jamie
11972      11973  2012-10-30 03:09:47       Simmons Thomas
11973      11974  2012-12-26 16:42:08          Scott James
11974      11975  2013-03-23 11:10:11       Daecher J�rgen
11975      11976  2013-12-25 22:01:41            Kohl Leah
11976      11977  2013-09-17 18:58:51         Crary Joshua
11977      11978  2014-04-23 16:28:06         Castro Pedro
11978      11979  2013-01-28 09:26:33         Hurst Harley
11979      11980  2014-02-02 15:23:18  Gloeckner Franziska
11980      11981  2013-03-05 01:53:48            Fry Tyler
11981      11982  2013-12-06 14:39:15        Barajas Maria
11982      11983  2013-07-30 00:23:36           Engel Mike
11983      11984  2014-02-11 21:26:11           Reed Cerys
11984      11985  2013-07-08 17:23:26     Jespersen Marcus
11985      11986  2012-06-24 01:02:14        Ribeiro Clara
11986      11987  2013-03-15 03:21:01           Reed Poppy
11987      11988  2014-03-15 11:04:47          Minick John
11988      11989  2013-09-02 11:24:33       Pereira Emilly
11989      11990  2013-07-05 21:00:48            Juhl Aase
11990      11991  2014-04-20 14:22:45        Vaughn Arthur
11991      11992  2014-04-09 19:39:56     Hermansen Amanda
11992      11993  2013-03-28 23:24:21      Townsend Isabel
11993      11994  2012-06-05 04:46:16       Grimstone Joel
11994      11995  2013-10-21 13:33:17     Werfel Sebastian
11995      11996  2013-09-06 06:14:15         Meier Sophia
11996      11997  2013-01-10 18:28:37        Fisher Amelie
11997      11998  2014-04-27 12:45:16          Haynes Jake
11998      11999  2012-05-31 11:55:59         Faber Annett
11999      12000  2014-01-26 08:57:12           Lima Tha�s

                                     email     creation_source  \
0                 AugustCClausen@yahoo.com        GUEST_INVITE
1                   MatthewPoole@gustr.com          ORG_INVITE
2               MitchellBottrill@gustr.com          ORG_INVITE
3                NicklasSClausen@yahoo.com        GUEST_INVITE
4                       GraceRaw@yahoo.com        GUEST_INVITE
5            EduardoPereiraCunha@yahoo.com        GUEST_INVITE
6               TylerSewell@jourrapide.com              SIGNUP
7               DanielleHamilton@yahoo.com   PERSONAL_PROJECTS
8                    PaulAmsel@hotmail.com   PERSONAL_PROJECTS
9            CarlaFerreiraSantos@gustr.com          ORG_INVITE
10                MaltheAPaulsen@gustr.com              SIGNUP
11               LaerkeLMathiesen@cuvox.de          ORG_INVITE
12                  AlexanderDFry@cuvox.de          ORG_INVITE
13                   BretKRivera@gmail.com              SIGNUP
14                  RalfTheiss@hotmail.com   PERSONAL_PROJECTS
15                   ReneEngel@hotmail.com   PERSONAL_PROJECTS
16          AnthonyReynolds@jourrapide.com        GUEST_INVITE
17         CelinaAGregersen@jourrapide.com        GUEST_INVITE
18                ArleneRCollins@gmail.com              SIGNUP
19                      lqyvjilf@uhzdq.com              SIGNUP
20                   AlfieHunter@gmail.com   PERSONAL_PROJECTS
21                   JordanMyers@gmail.com          ORG_INVITE
22              AliceAraujoSouza@gustr.com          ORG_INVITE
23                 JamesTWoodruff@cuvox.de              SIGNUP
24               EliseStone@jourrapide.com        GUEST_INVITE
25            FlorianWexler@jourrapide.com          ORG_INVITE
26               LuisPintoSantos@gmail.com          ORG_INVITE
27         MarkoWeissmuller@jourrapide.com              SIGNUP
28     EvelynSousaFernandes@jourrapide.com              SIGNUP
29                LeahEgger@jourrapide.com        GUEST_INVITE
...                                    ...                 ...
11970    BeatriceBarbosaFerreira@yahoo.com        GUEST_INVITE
11971             JamiePenington@yahoo.com          ORG_INVITE
11972              ThomasSimmons@gmail.com   PERSONAL_PROJECTS
11973                JamesJScott@gmail.com              SIGNUP
11974              JurgenDaecher@gustr.com        GUEST_INVITE
11975                 LeahKohl@hotmail.com   PERSONAL_PROJECTS
11976               JoshuaHCrary@gmail.com  SIGNUP_GOOGLE_AUTH
11977           PedroCunhaCastro@gustr.com   PERSONAL_PROJECTS
11978                HarleyHurst@yahoo.com              SIGNUP
11979                   ljnnbqdr@cgbld.com          ORG_INVITE
11980                   TylerFry@gmail.com        GUEST_INVITE
11981              MariaCBarajas@gmail.com          ORG_INVITE
11982                  MikeEngel@gmail.com  SIGNUP_GOOGLE_AUTH
11983                  CerysReed@yahoo.com              SIGNUP
11984            MarcusTJespersen@cuvox.de   PERSONAL_PROJECTS
11985         ClaraBarrosRibeiro@gmail.com  SIGNUP_GOOGLE_AUTH
11986                   ftdkorrj@uyhoy.com              SIGNUP
11987                JohnFMinick@yahoo.com   PERSONAL_PROJECTS
11988      EmillyOliveiraPereira@gmail.com  SIGNUP_GOOGLE_AUTH
11989             AasePJuhl@jourrapide.com          ORG_INVITE
11990              ArthurJVaughn@gmail.com  SIGNUP_GOOGLE_AUTH
11991           AmandaAHermansen@yahoo.com   PERSONAL_PROJECTS
11992              IsabelTownsend@cuvox.de   PERSONAL_PROJECTS
11993                   conxzghp@eaouk.com        GUEST_INVITE
11994            SebastianWerfel@gmail.com   PERSONAL_PROJECTS
11995                SophiaMeier@gustr.com          ORG_INVITE
11996               AmelieFisher@gmail.com  SIGNUP_GOOGLE_AUTH
11997                  JakeHaynes@cuvox.de        GUEST_INVITE
11998                   mhaerzxp@iuxiw.com   PERSONAL_PROJECTS
11999            ThaisMeloLima@hotmail.com              SIGNUP

       last_session_creation_time  opted_in_to_mailing_list  \
0                    1.398139e+09                         1
1                    1.396238e+09                         0
2                    1.363735e+09                         0
3                    1.369210e+09                         0
4                    1.358850e+09                         0
5                    1.387424e+09                         0
6                    1.356010e+09                         0
7                             NaN                         1
8                             NaN                         0
9                    1.401833e+09                         1
10                   1.388117e+09                         0
11                            NaN                         0
12                   1.396196e+09                         0
13                   1.350058e+09                         0
14                            NaN                         0
15                            NaN                         0
16                   1.397314e+09                         1
17                            NaN                         0
18                   1.369926e+09                         1
19                   1.401364e+09                         0
20                   1.358858e+09                         0
21                   1.392012e+09                         0
22                   1.345279e+09                         1
23                   1.378765e+09                         1
24                   1.393373e+09                         1
25                            NaN                         0
26                   1.389807e+09                         0
27                   1.360872e+09                         0
28                   1.379384e+09                         0
29                   1.370307e+09                         0
...                           ...                       ...
11970                         NaN                         0
11971                         NaN                         0
11972                         NaN                         0
11973                1.356713e+09                         0
11974                1.400757e+09                         1
11975                         NaN                         0
11976                1.379704e+09                         0
11977                         NaN                         1
11978                1.359624e+09                         0
11979                1.397835e+09                         0
11980                1.364868e+09                         0
11981                1.386341e+09                         1
11982                1.375144e+09                         0
11983                1.392154e+09                         0
11984                         NaN                         0
11985                1.341105e+09                         0
11986                1.363318e+09                         0
11987                1.401621e+09                         0
11988                1.378553e+09                         1
11989                1.373144e+09                         0
11990                1.401460e+09                         0
11991                1.397245e+09                         0
11992                         NaN                         0
11993                         NaN                         0
11994                1.382449e+09                         0
11995                1.378448e+09                         0
11996                1.358275e+09                         0
11997                1.398603e+09                         1
11998                1.338638e+09                         0
11999                1.390727e+09                         0

       enabled_for_marketing_drip  org_id  invited_by_user_id
0                               0      11             10803.0
1                               0       1               316.0
2                               0      94              1525.0
3                               0       1              5151.0
4                               0     193              5240.0
5                               0     197             11241.0
6                               1      37                 NaN
7                               1      74                 NaN
8                               0     302                 NaN
9                               1     318              4143.0
10                              0      69                 NaN
11                              0     130              9270.0
12                              0     254             11204.0
13                              0       0                 NaN
14                              0     175                 NaN
15                              0     211                 NaN
16                              0     175              1600.0
17                              0       2              3153.0
18                              0       0                 NaN
19                              0      58                 NaN
20                              0      54                 NaN
21                              0       7              2994.0
22                              0       6                23.0
23                              0     123                 NaN
24                              0      81              6312.0
25                              0      56             11857.0
26                              0     134              4189.0
27                              0       6                 NaN
28                              0      92                 NaN
29                              0     251              4835.0
...                           ...     ...                 ...
11970                           0       3             11854.0
11971                           0      16              7012.0
11972                           0      52                 NaN
11973                           0     167                 NaN
11974                           0      31              6410.0
11975                           0     248                 NaN
11976                           0     144                 NaN
11977                           0      29                 NaN
11978                           0       2                 NaN
11979                           0     406              3068.0
11980                           0     110              5775.0
11981                           1      57              2527.0
11982                           0     234                 NaN
11983                           0     170                 NaN
11984                           0      74                 NaN
11985                           0     111                 NaN
11986                           0       1                 NaN
11987                           0     114                 NaN
11988                           0      22                 NaN
11989                           0      25              3944.0
11990                           0     388                 NaN
11991                           0     129                 NaN
11992                           0     281                 NaN
11993                           0      84              5450.0
11994                           0       0                 NaN
11995                           0      89              8263.0
11996                           0     200                 NaN
11997                           1      83              8074.0
11998                           0       6                 NaN
11999                           1       0                 NaN

[12000 rows x 10 columns]>

In [6]:
df_engagement.dtypes

time_stamp    object
user_id        int64
visited        int64
dtype: object

In [7]:
df_engagement.shape

(207917, 3)

In [8]:
#df_engagement.describe

In [9]:
df_engagement.time_stamp = df_engagement.time_stamp.apply(pd.to_datetime)

In [10]:
df_engagement.dtypes

time_stamp    datetime64[ns]
user_id                int64
visited                int64
dtype: object

In [11]:
df_engagement.head(5)

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [12]:
df_engagement['Date'] = df_engagement.time_stamp.dt.date

In [13]:
df_engagement.dtypes

time_stamp    datetime64[ns]
user_id                int64
visited                int64
Date                  object
dtype: object

In [14]:
df_engagement.head()

           time_stamp  user_id  visited        Date
0 2014-04-22 03:53:30        1        1  2014-04-22
1 2013-11-15 03:45:04        2        1  2013-11-15
2 2013-11-29 03:45:04        2        1  2013-11-29
3 2013-12-09 03:45:04        2        1  2013-12-09
4 2013-12-25 03:45:04        2        1  2013-12-25

In [15]:
# Create truncated dataframe to check if functions work or not
df_trunc = df_engagement.iloc[300:755,:]

df_trunc.head()

             time_stamp  user_id  visited        Date
300 2014-05-31 22:08:03       10        1  2014-05-31
301 2014-06-01 22:08:03       10        1  2014-06-01
302 2014-06-02 22:08:03       10        1  2014-06-02
303 2014-06-03 22:08:03       10        1  2014-06-03
304 2013-12-27 03:55:54       11        1  2013-12-27

In [16]:
#def simple_check(df,col):
    #adpt_stats = []
    #usr_list = []
    #hug = 0
    #for name, group in df.groupby([col]):
        #usr_list.append(name)
        #print('User:'+ str(name))
        #print('Number of total visits:'+ str(len(group)))
        #dates = list(group.Date)
        #print(len(group.Date))
        #print(type(dates))
        #for date in dates:
            #print(dates.index(date))
            #if (dates.index(date) == len(dates)-1):
                #print('This is the last recorded visit for this user')
                #print(date)
                
            #else:
                #print(date)
            
        #print

In [17]:
#simple_check(df_trunc,'user_id')

In [18]:
def simple_check_2(df,col):
    adpt_stats = []
    usr_list = []
    hug = 0
    # iterate over each group, in this case each group corresponds to a user
    for name, group in df.groupby([col]):
        usr_list.append(name)
        #print('User:'+ str(name))
        #print('Number of total visits:'+ str(len(group)))
        # create a python list of datetime objects called dates
        dates = list(group.Date)
        if (len(dates) <=2):
            adpt_stats.append(0)
            #print('NOT AN ADOPTER')
        else:
            #print(len(dates))
            for date in group.Date:
                status = [x for x in dates if (x - date <= pd.Timedelta('7 days'))\
                            & (x - date >= pd.Timedelta('0 days'))]
                #print(date)
                #print(status)
                # if the number of visits in any 7-day period is 3 or more
                # update the adoption status as a 1 and break out of loop
                if (len(status) >2):
                    #print('Adopter')
                    adpt_stats.append(1)
                    break
                # check if this is the last date on the list & the number
                # of visits in any 7-day period is < 3, if so update adopter status as 0
                if (len(status) < 2) & ((dates.index(date) == len(dates)-1)):
                    adpt_stats.append(0)
                    #print('This user had a total or more than 2 visits')
                    #print('BUT did NOT visit at least 3 times in ANY seven day period')
        #print
        
    #print(len(usr_list))
    #print(len(adpt_stats))
    #print('*** That is All***')
    
    return usr_list, adpt_stats

In [19]:
usr_list, adopt_list = simple_check_2(df_trunc,'user_id')

In [20]:
print(len(usr_list))
print
print(len(adopt_list))

41

41

In [21]:
print(usr_list)
print
print(adopt_list)

[10, 11, 13, 14, 17, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 36, 37, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63]

[1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1]

In [22]:
usr_list, adopt_list = simple_check_2(df_engagement,'user_id')

In [23]:
print(len(usr_list))
print
print(len(adopt_list))

8823

8823

In [24]:
# Create pandas dataframe using dictionary of user data
status_dict = {'user_id': usr_list, 'adopt_status': adopt_list}

df_3 = pd.DataFrame(status_dict)

df_3.head()

   adopt_status  user_id
0             0        1
1             1        2
2             0        3
3             0        4
4             0        5

In [25]:
df_3.tail()

      adopt_status  user_id
8818             0    11996
8819             0    11997
8820             0    11998
8821             0    11999
8822             0    12000

In [26]:
df_3.adopt_status.value_counts()

0    7167
1    1656
Name: adopt_status, dtype: int64

## Merge Dataframes

In [27]:
df_users.columns

Index([u'object_id', u'creation_time', u'name', u'email', u'creation_source',
       u'last_session_creation_time', u'opted_in_to_mailing_list',
       u'enabled_for_marketing_drip', u'org_id', u'invited_by_user_id'],
      dtype='object')

In [28]:
# rename column of df_users

df_users.rename(columns={"object_id": "user_id"},inplace = True)

df_users.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [29]:
df_users.shape

(12000, 10)

In [30]:
df_user_data = pd.merge(left=df_users, right=df_3, left_on='user_id', right_on='user_id')

df_user_data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopt_status
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0

In [31]:
df_user_data.shape

(8823, 11)

In [32]:
df_user_data.columns

Index([u'user_id', u'creation_time', u'name', u'email', u'creation_source',
       u'last_session_creation_time', u'opted_in_to_mailing_list',
       u'enabled_for_marketing_drip', u'org_id', u'invited_by_user_id',
       u'adopt_status'],
      dtype='object')

In [33]:
df_user_data.dtypes

user_id                         int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
adopt_status                    int64
dtype: object

In [34]:
df_user_data[['user_id','name','email','creation_source','adopt_status']].head(15)

,user_id,name,email,creation_source,adopt_status
0,1,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,0
1,2,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1
2,3,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,0
3,4,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,0
4,5,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,0
5,6,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,0
6,7,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,0
7,10,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1
8,11,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,0
9,13,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,0
10,14,Rivera Bret,BretKRivera@gmail.com,SIGNUP,0
11,17,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,0
12,19,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,0
13,20,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1
14,21,Hunter Alfie,AlfieHunter@gmail.com,PERSONAL_PROJECTS,0

In [35]:
# save the dataframe as csv file for future use
df_user_data.to_csv('relax_users_data.csv',index = None)

user = pd.read_csv('relax_users_data.csv')

user.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopt_status
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0

## Convert Categorical Features

In [36]:
# https://towardsdatascience.com/all-about-categorical-variable-encoding-305f3361fd02
from sklearn.preprocessing import LabelEncoder

cle = LabelEncoder()
df_user_data['creation_source_label'] = cle.fit_transform(df_user_data['creation_source'])

# convert string into date time object
df_user_data.creation_time = df_user_data.creation_time.apply(pd.to_datetime)

df_user_data.dtypes

user_id                                int64
creation_time                 datetime64[ns]
name                                  object
email                                 object
creation_source                       object
last_session_creation_time           float64
opted_in_to_mailing_list               int64
enabled_for_marketing_drip             int64
org_id                                 int64
invited_by_user_id                   float64
adopt_status                           int64
creation_source_label                  int64
dtype: object

In [37]:
df_user_data.columns

Index([u'user_id', u'creation_time', u'name', u'email', u'creation_source',
       u'last_session_creation_time', u'opted_in_to_mailing_list',
       u'enabled_for_marketing_drip', u'org_id', u'invited_by_user_id',
       u'adopt_status', u'creation_source_label'],
      dtype='object')

In [38]:
df_user_data.describe()

,user_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopt_status,creation_source_label
count,8823.000000,8.823000e+03,8823.000000,8823.000000,8823.000000,4776.000000,8823.000000,8823.000000
mean,6019.821716,1.379279e+09,0.252295,0.151989,142.572254,5980.495394,0.187691,1.807775
std,3464.251001,1.953116e+07,0.434354,0.359031,124.176422,3394.211361,0.390488,1.373882
min,1.000000,1.338452e+09,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
25%,3017.500000,1.363195e+09,0.000000,0.000000,30.000000,3071.000000,0.000000,1.000000
50%,6034.000000,1.382888e+09,0.000000,0.000000,109.000000,5947.000000,0.000000,1.000000
75%,9029.500000,1.398443e+09,1.000000,0.000000,239.000000,8857.250000,0.000000,3.000000
max,12000.000000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000,1.000000,4.000000

In [39]:
df_user_data.isna().sum()

user_id                          0
creation_time                    0
name                             0
email                            0
creation_source                  0
last_session_creation_time       0
opted_in_to_mailing_list         0
enabled_for_marketing_drip       0
org_id                           0
invited_by_user_id            4047
adopt_status                     0
creation_source_label            0
dtype: int64